# compiled output
/dist/
/tmp/

# dependencies
/bower_components/

# misc
.*
/.bowerrc
/config/addon-docs.js
/config/deploy.js
/config/ember-try.js
/config/release.js
/docs/
/ember-cli-build.js
/testem.js
/tests/
/yarn.lock
/yarn-error.log
/*.tgz

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
