<div class="docs-font-sans docs-text-black docs-leading-normal">
  {{docs-header}}

  <h2>LOL</h2>
  {{phone-input number=number update=(action "handleUpdate")}}
  <h2>LMAO</h2>

  {{outlet}}

  {{docs-keyboard-shortcuts}}
</div>