{{docs-hero
  prefix='ember'
  heading='phone-input'
  byline='A component to handle international phone numbers'}}

<div class='docs-container docs-md'>
  <section class='docs-max-w-md docs-mx-auto docs-py-16'>

    <h4 class="docs-mb-4">What is ember-phone-input?</h4>

    <p>It is an ember.js addon: a component backed by a service.</p>
    <p>The component provides easy input / validation of international phone numbers. The service takes care of loading the scripts.</p>
    <p>It wraps the well maintained javascript package: <a href="https://github.com/jackocnr/intl-tel-input" target="_blank">intl-tel-input</a>, itself based on Google's <a href="https://github.com/googlei18n/libphonenumber" target="_blank">libphonenumber library</a>.</p>

    <div class='docs-my-16 docs-text-right'>
      {{#link-to 'docs.installation' class='docs-bg-grey-darkest hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded'}}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>
