{{! template-lint-disable no-link-to-positional-params no-curly-component-invocation }}
<div class="docs-container">
  <h1>Not found</h1>
  <p>This page doesn't exist. {{#link-to "index"}}Head home?{{/link-to}}</p>
</div>
